.c-second {
  color: $c-second;
}

.c-secondary {
  color: $c-secondary;
}

.c-primary {
  color: $c-primary;
}

.c-neutrals {
  color: $c-neutrals;
}

.c-neutrals-4 {
  color: $c-neutrals-4;
}

.c-black {
  color: $c-black;
}

.c-white {
  color: $c-white;
}

.c-gray {
  color: $c-gray;
}

.c-red {
  color: $c-red;
}

.c-muted {
  color: $c-muted;
}

.c-teal {
  color: $c-teal;
}

.c-purple {
  color: $c-purple;
}

.c-pink {
  color: $c-pink;
}

.bg-chart-blue {
  background-color: $c-chart-blue;
}

.bg-chart-orange {
  background-color: $c-chart-orange;
}

.bg-chart-blue-50 {
  background-color: $c-chart-blue-50;
}

.bg-teal {
  background-color: $c-teal;
}

.bg-purple {
  background-color: $c-purple;
}

.btn-white {
  background: $c-white;
}

.bg-pink {
  background-color: $c-pink;
}