.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $c-loading;
  opacity: 0;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 1000;
  }
}

.loading-spin {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: transparent;
  animation: spin infinite .5s linear;
}

@keyframes spin {
  from {
    transform: rotate(-1turn);
  }
}